<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 1. Console Appender (For your eyes during development) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [TraceID: %X{traceId:-}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 2. JSON Appender (For the ELK Stack / Logstash) -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- We will define this host in Docker later -->
        <destination>${LOGSTASH_HOST:-localhost}:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>true</includeContext>
            <includeCallerData>true</includeCallerData>
            <!-- Senior Move: Every log will carry the Service Name automatically -->
            <customFields>{"service":"${spring.application.name}"}</customFields>
        </encoder>
    </appender>

    <!-- Use Console for local and Logstash for prod/cloud -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>