server:
  port: 8080

spring:
  application:
    name: notification-service
  profiles:
    active: local

  kafka:
    listener:
      observation-enabled: true # The magic switch for @KafkaListener tracing
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json:
          value.default.type: org.esrakonya.backend.common.event.ProductCreatedEvent
          trusted.packages: org.esrakonya.backend.common.event
        observation.enabled: true
      retry:
        max-attempts: 3

app:
  security:
    jwt:
      secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
      expiration: 86400000

logging:
  level:
    org.apache.kafka: WARN
    org.springframework.kafka: WARN
    org.esrakonya.backend: INFO

management:
  observations:
    key-values:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: b3
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_ENDPOINT:http://localhost:9411/api/v2/spans}