apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8080"
spec:
  selector:
    app: gateway-service
  ports:
    - protocol: TCP
      port: 8080 # Şehrin tek giriş portu!
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
      annotations: # <--- BURAYA DA EKLEYELİM
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      containers:
        - name: gateway-service
          image: esrakonya/gateway-service:v1
          imagePullPolicy: Never
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: LOGSTASH_HOST
              value: "marketplace-logstash"
            - name: MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE
              value: "health,info,prometheus"
            - name: MANAGEMENT_METRICS_TAGS_APPLICATION
              value: "gateway-service"
            # Gateway'in diğer servisleri bulması için adresler:
            - name: AUTH_SERVICE_URL
              value: "http://auth-service:8080"
            - name: PRODUCT_SERVICE_URL
              value: "http://product-service:8080"
            - name: INVENTORY_SERVICE_URL
              value: "http://inventory-service:8080"
          ports:
            - containerPort: 8080