server:
  port: 8080

spring:
  application:
    name: gateway-service
  profiles:
    active: prod # K8s üzerinde olduğumuz için prod yapalım

  # DİKKAT: 'cloud' kelimesi 'application' ile aynı hizada olmalı!
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL:http://auth-service:8080}
          predicates:
            - Path=/api/v1/auth/**
        - id: product-service
          uri: ${PRODUCT_SERVICE_URL:http://product-service:8080}
          predicates:
            - Path=/api/v1/products/**
          filters:
            - name: CircuitBreaker
              args:
                name: productServiceCircuitBreaker
                fallbackUri: forward:/fallback/products
        - id: inventory-service
          uri: ${INVENTORY_SERVICE_URL:http://inventory-service:8080}
          predicates:
            - Path=/api/v1/inventory/**

# DİKKAT: 'springdoc' en dışta (spring: ile aynı hizada) olmalı!
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: "1. Auth Service"
        url: "/api/v1/auth/v3/api-docs"
      - name: "2. Product Service"
        url: "/api/v1/products/v3/api-docs"
      - name: "3. Inventory Service"
        url: "/api/v1/inventory/v3/api-docs"

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.esrakonya.backend: INFO

management:
  observations:
    key-values:
      application: ${spring.application.name}
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_ENDPOINT:http://marketplace-zipkin:9411/api/v2/spans}