server:
  port: 8080

spring:
  application:
    name: gateway-service
  profiles:
    active: local

  cloud:
    gateway:
      httpclient:
        connect-timeout: 5000
        response-timeout: 5s

resilience4j:
  circuitbreaker:
    configs:
      default:
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        sliding-window-size: 10
        record-exceptions:
          - java.lang.Throwable
          - java.lang.Exception
          - java.net.ConnectException
          - java.net.UnknownHostException
    instances:
      productServiceCB:
        base-config: default

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.esrakonya.backend: INFO