server:
  port: 8080

spring:
  application:
    name: product-service
  profiles:
    active: local

  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  cache:
    type: redis

  data:
    redis:
      port: 6379
      host: ${SPRING_DATA_REDIS_HOST:localhost}

  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

app:
  security:
    jwt:
      secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
      expiration: 86400000
      issuer: esrakonya-marketplace

logging:
  level:
    org.apache.kafka: WARN
    org.springframework.kafka: WARN
    com.zaxxer.hikari: WARN
    org.esrakonya.backend: INFO