server:
  port: 8080

spring:
  application:
    name: inventory-service
  profiles:
    active: local

  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  cache:
    type: redis

  kafka:
    consumer:
      group-id: inventory-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json:
          value.default.type: org.esrakonya.backend.common.event.ProductCreatedEvent
          trusted.packages: org.esrakonya.backend.common.event
      # Resilience Configuration
      retry:
        max-attempts: 3
        initial-interval: 2000

app:
  security:
    jwt:
      secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
      expiration: 86400000

logging:
  level:
    org.apache.kafka: WARN
    org.springframework.kafka: WARN
    org.esrakonya.backend: INFO